adfbrismith/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfbrismith"
		},
		"AKV1_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kvbrismithadf.vault.azure.net/"
		},
		"PJOOData_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://brismith.sharepoint.com/sites/pwa/_api/ProjectData/Projects?$select=ProjectId,ProjectActualCost,ProjectActualDuration,ProjectActualFinishDate,ProjectActualStartDate,ProjectActualWork,ProjectCost,ProjectCreatedDate,ProjectCurrency,ProjectDescription,ProjectDuration,ProjectFinishDate,ProjectIdentifier,ProjectLastPublishedDate,ProjectModifiedDate,ProjectName,ProjectPercentCompleted,ProjectPercentWorkCompleted,ProjectStartDate,ProjectStatusDate,ProjectWork"
		},
		"SqlServer1_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "adfsqlConnection"
		},
		"sabrismithadflink_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "sabrismithadfconnectionstring"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AKV1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AKV1_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PJOOData')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('PJOOData_properties_typeProperties_url')]",
					"enableServerCertificateValidation": false,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/irbrismithadf')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "West US 2",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PJOOData",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": ""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PJOOData')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AKV1",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('SqlServer1_properties_typeProperties_connectionString_secretName')]",
						"secretVersion": "36568dc9b15a4ff99946b47c37b48005"
					}
				},
				"connectVia": {
					"referenceName": "irbrismithadf",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/irbrismithadf')]",
				"[concat(variables('factoryId'), '/linkedServices/AKV1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sabrismithadflink')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AKV1",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('sabrismithadflink_properties_typeProperties_connectionString_secretName')]"
					}
				},
				"connectVia": {
					"referenceName": "irbrismithadf",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/irbrismithadf')]",
				"[concat(variables('factoryId'), '/linkedServices/AKV1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sabrismithadflink",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": {
							"value": "@utcnow()",
							"type": "Expression"
						},
						"container": "project"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sabrismithadflink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ProjectsTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "SiteId",
						"type": "uniqueidentifier"
					},
					{
						"name": "PROJ_UID",
						"type": "uniqueidentifier"
					},
					{
						"name": "PROJ_NAME",
						"type": "nvarchar"
					},
					{
						"name": "PROJ_PROP_AUTHOR",
						"type": "nvarchar"
					},
					{
						"name": "PROJ_OPT_CALC_ACT_COSTS",
						"type": "bit"
					},
					{
						"name": "PROJ_PROP_CATEGORY",
						"type": "nvarchar"
					},
					{
						"name": "PROJ_PROP_COMPANY",
						"type": "nvarchar"
					},
					{
						"name": "PROJ_OPT_CRITICAL_SLACK_LIMIT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PROJ_OPT_CURRENCY_DIGITS",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "PROJ_OPT_CURRENCY_POSITION",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "PROJ_OPT_CURRENCY_SYMBOL",
						"type": "nvarchar"
					},
					{
						"name": "PROJ_OPT_CURRENCY_CODE",
						"type": "nvarchar"
					},
					{
						"name": "PROJ_OPT_NEW_TASKS_ARE_EFFORT_DRIVEN",
						"type": "bit"
					},
					{
						"name": "PROJ_INFO_CURRENT_DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "PROJ_OPT_DEF_FINISH_TIME",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "PROJ_OPT_DEF_FIX_COST_ACCRUAL",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "PROJ_OPT_MINUTES_PER_DAY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PROJ_OPT_MINUTES_PER_WEEK",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PROJ_OPT_DEF_OVT_RATE",
						"type": "decimal",
						"precision": 25,
						"scale": 6
					},
					{
						"name": "PROJ_OPT_DEF_STD_RATE",
						"type": "decimal",
						"precision": 25,
						"scale": 6
					},
					{
						"name": "PROJ_OPT_DEF_START_TIME",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "PROJ_OPT_DEF_TASK_TYPE",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "PROJ_OPT_DUR_ENTRY_FMT",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "PROJ_INFO_FINISH_DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "PROJ_OPT_HONOR_CONSTRAINTS",
						"type": "bit"
					},
					{
						"name": "PROJ_PROP_KEYWORDS",
						"type": "nvarchar"
					},
					{
						"name": "PROJ_LAST_SAVED",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "PROJ_PROP_MANAGER",
						"type": "nvarchar"
					},
					{
						"name": "PROJ_OPT_MULT_CRITICAL_PATHS",
						"type": "bit"
					},
					{
						"name": "PROJ_CREATION_DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "PROJ_POOL_ATTACHED_TO",
						"type": "nvarchar"
					},
					{
						"name": "PROJ_IS_RES_POOL",
						"type": "bit"
					},
					{
						"name": "PROJ_INFO_SCHED_FROM",
						"type": "bit"
					},
					{
						"name": "PROJ_OPT_SPLIT_IN_PROGRESS",
						"type": "bit"
					},
					{
						"name": "PROJ_OPT_SPREAD_ACT_COSTS",
						"type": "bit"
					},
					{
						"name": "PROJ_OPT_SPREAD_PCT_COMP",
						"type": "bit"
					},
					{
						"name": "PROJ_INFO_START_DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "PROJ_INFO_STATUS_DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "PROJ_PROP_SUBJECT",
						"type": "nvarchar"
					},
					{
						"name": "PROJ_PROP_TITLE",
						"type": "nvarchar"
					},
					{
						"name": "PROJ_OPT_TASK_UPDATES_RES",
						"type": "bit"
					},
					{
						"name": "PROJ_OPT_WORK_ENTRY_FMT",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "PROJ_OPT_CALC_SUB_AS_SUMMARY",
						"type": "bit"
					},
					{
						"name": "PROJ_OPT_WEEK_START_DAY",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "PROJ_OPT_FY_START_MONTH",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "PROJ_OPT_FY_USE_START_YR",
						"type": "bit"
					},
					{
						"name": "PROJ_OPT_DAYS_PER_MONTH",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "PROJ_OPT_NEW_TASK_EST",
						"type": "bit"
					},
					{
						"name": "PROJ_OPT_SHOW_EST_DUR",
						"type": "bit"
					},
					{
						"name": "PROJ_OPT_EXPAND_TIMEPHASED",
						"type": "bit"
					},
					{
						"name": "PROJ_EXT_EDITED",
						"type": "bit"
					},
					{
						"name": "PROJ_READ_COUNT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RESERVED_BINARY_DATA",
						"type": "varbinary"
					},
					{
						"name": "PROJ_TYPE",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PROJ_CHECKOUTBY",
						"type": "uniqueidentifier"
					},
					{
						"name": "PROJ_CHECKOUTDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "PROJ_PROJECT",
						"type": "nvarchar"
					},
					{
						"name": "PROJ_PROTECTED_ACTUALS_SYNCH",
						"type": "bit"
					},
					{
						"name": "PROJ_ADMINPROJECT",
						"type": "bit"
					},
					{
						"name": "PROJ_IGNORE_FRONT_END",
						"type": "bit"
					},
					{
						"name": "PROJ_TIMESTAMP",
						"type": "nvarchar"
					},
					{
						"name": "WPROJ_DESCRIPTION",
						"type": "nvarchar"
					},
					{
						"name": "WLOCAL_PATH",
						"type": "nvarchar"
					},
					{
						"name": "WPATH",
						"type": "nvarchar"
					},
					{
						"name": "WRES_UID",
						"type": "uniqueidentifier"
					},
					{
						"name": "WDSN_UID",
						"type": "uniqueidentifier"
					},
					{
						"name": "WPROJ_DELEG_ALLOWED",
						"type": "bit"
					},
					{
						"name": "WPROJ_IS_NONWORKING",
						"type": "bit"
					},
					{
						"name": "WPROJ_SCOPE",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "WPROJ_IS_CONSOLIDATED_PROJECT",
						"type": "bit"
					},
					{
						"name": "WPROJ_RES_CAN_DECLINE",
						"type": "bit"
					},
					{
						"name": "WPROJ_DEFAULT_PROJ_UID",
						"type": "uniqueidentifier"
					},
					{
						"name": "WPROJ_TRACKING_METHOD",
						"type": "int",
						"precision": 10
					},
					{
						"name": "WPROJ_LAST_PUB",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "WPROJ_TYPE",
						"type": "int",
						"precision": 10
					},
					{
						"name": "OPT_DEF_START_TIME",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "OPT_DEF_FINISH_TIME",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "WPROJ_STS_SUBWEB_NAME",
						"type": "nvarchar"
					},
					{
						"name": "WSTS_SERVER_UID",
						"type": "uniqueidentifier"
					},
					{
						"name": "WPROJ_ISSUE_LIST_NAME",
						"type": "uniqueidentifier"
					},
					{
						"name": "WPROJ_RISK_LIST_NAME",
						"type": "uniqueidentifier"
					},
					{
						"name": "PROJ_TOTAL_DOC_COUNT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PROJ_ACTIVE_ISSUE_COUNT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PROJ_ACTIVE_RISK_COUNT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "WSS_PWA_ADMIN_ROLE_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "WSS_PWA_PROJECT_MANAGER_ROLE_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "WSS_PWA_TEAM_MEMBER_ROLE_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "WSS_PWA_READER_ROLE_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PROJ_PROPOSAL_WORKFLOW_INSTANCE_UID",
						"type": "uniqueidentifier"
					},
					{
						"name": "WPROJ_ADMIN_PROJECT",
						"type": "bit"
					},
					{
						"name": "CAL_UID",
						"type": "uniqueidentifier"
					},
					{
						"name": "PROJ_READ_LOCK_DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "PROJ_WRITE_LOCK_DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "PROJ_WRITE_PENDING_DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "PROJ_MOVE_ACTUAL_IF_LATER",
						"type": "bit"
					},
					{
						"name": "PROJ_MOVE_REMAINING_TO_STATUS",
						"type": "bit"
					},
					{
						"name": "PROJ_MOVE_REMAINING_IF_EARLIER",
						"type": "bit"
					},
					{
						"name": "PROJ_MOVE_ACTUAL_TO_STATUS",
						"type": "bit"
					},
					{
						"name": "PROJ_WINPROJ_VERSION_NUMBER",
						"type": "decimal",
						"precision": 15,
						"scale": 10
					},
					{
						"name": "PROJ_VERSION",
						"type": "nvarchar"
					},
					{
						"name": "PROGRAM_UID",
						"type": "uniqueidentifier"
					},
					{
						"name": "PROJ_DEF_CAL",
						"type": "varbinary"
					},
					{
						"name": "PROJ_SESSION_UID",
						"type": "uniqueidentifier"
					},
					{
						"name": "PROJ_SESSION_DESCRIPTION",
						"type": "nvarchar"
					},
					{
						"name": "PROJ_PUBLISH_STATUS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DELETED_FLAG",
						"type": "bit"
					},
					{
						"name": "CAL_UID_BASELINE",
						"type": "uniqueidentifier"
					},
					{
						"name": "PROJ_STALE_FLAGS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PROJ_WBS_PREFIX",
						"type": "nvarchar"
					},
					{
						"name": "REV_NEXT_SEED",
						"type": "int",
						"precision": 10
					},
					{
						"name": "REV_RANK",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PROJ_ARCHIVE_RETENTION",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PROJ_CURRENT_REV_COUNTER",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PROJ_CURRENT_REV_RANK",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PROJ_NEW_TASKS_START_ON_CURRENT_DATE",
						"type": "bit"
					},
					{
						"name": "PROJ_NEW_TASKS_ARE_MANUAL",
						"type": "bit"
					},
					{
						"name": "PROJ_SUMMARY_TASK_UID",
						"type": "uniqueidentifier"
					},
					{
						"name": "CREATED_DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "MOD_DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CREATED_REV_COUNTER",
						"type": "int",
						"precision": 10
					},
					{
						"name": "MOD_REV_COUNTER",
						"type": "int",
						"precision": 10
					},
					{
						"name": "IDEA_WEB_UID",
						"type": "uniqueidentifier"
					},
					{
						"name": "IDEA_LIST_UID",
						"type": "uniqueidentifier"
					},
					{
						"name": "IDEA_ITEM_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PROJ_LAST_CHANGE_TOKEN",
						"type": "nvarchar"
					},
					{
						"name": "PROJ_IS_VISIBILITY_MODE",
						"type": "bit"
					},
					{
						"name": "WSS_REMOVED",
						"type": "bit"
					},
					{
						"name": "PROJ_UTILIZATION_TYPE",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "PROJ_UTILIZATION_DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "PROJ_IDENTIFIER",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "EpmProjectStage"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AKVUsername",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://kvbrismithadf.vault.azure.net/secrets/testusername/91ec9c76e3e24733a8ea3a76cd5dd813?api-version=7.0",
							"connectVia": {
								"referenceName": "irbrismithadf",
								"type": "IntegrationRuntimeReference"
							},
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "AKVUserPwd",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://kvbrismithadf.vault.azure.net/secrets/testuserpwd/b61a983c472247469588ceaa02f22ea3?api-version=7.0",
							"connectVia": {
								"referenceName": "irbrismithadf",
								"type": "IntegrationRuntimeReference"
							},
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "M365Login",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "AKVUsername",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "AKVUserPwd",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "AKVPJOOdataClientId",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "AKVPJOOdataSecret",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "AKVPJOOdataScope",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://login.microsoftonline.com/01ba1a71-c58f-48a6-bc02-5e697e4298e5/oauth2/v2.0/token",
							"connectVia": {
								"referenceName": "irbrismithadf",
								"type": "IntegrationRuntimeReference"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded",
								"Accept": "*/*",
								"Connection": "keep-alive"
							},
							"body": {
								"value": "@concat('grant_type=password&client_id=',activity('AKVPJOOdataClientId').output.value,'&client_secret=',activity('AKVPJOOdataSecret').output.value,'&scope=',activity('AKVPJOOdataScope').output.value,'&username=',activity('AKVUsername').output.value,'&password=',activity('AKVUserPwd').output.value)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set access token",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "M365Login",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "token",
							"value": {
								"value": "@activity('M365Login').output.access_token",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Read OData and save to Blob",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set access token",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"Authorization": {
										"value": "@concat('Bearer ', variables('token'))",
										"type": "Expression"
									}
								},
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "RestResource1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Json1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Read OData and Populate Staging",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clear Project Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"Authorization": {
										"value": "@concat('Bearer ', variables('token'))",
										"type": "Expression"
									}
								},
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['ProjectId']"
										},
										"sink": {
											"name": "ProjectId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ProjectActualCost']"
										},
										"sink": {
											"name": "ProjectActualCost",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['ProjectActualDuration']"
										},
										"sink": {
											"name": "ProjectActualDuration",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['ProjectActualFinishDate']"
										},
										"sink": {
											"name": "ProjectActualFinishDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "[['ProjectActualStartDate']"
										},
										"sink": {
											"name": "ProjectActualStartDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "[['ProjectActualWork']"
										},
										"sink": {
											"name": "ProjectActualWork",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['ProjectCost']"
										},
										"sink": {
											"name": "ProjectCost",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['ProjectCreatedDate']"
										},
										"sink": {
											"name": "ProjectCreatedDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "[['ProjectCurrency']"
										},
										"sink": {
											"name": "ProjectCurrency",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ProjectDescription']"
										},
										"sink": {
											"name": "ProjectDescription",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ProjectDuration']"
										},
										"sink": {
											"name": "ProjectDuration",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['ProjectFinishDate']"
										},
										"sink": {
											"name": "ProjectFinishDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "[['ProjectIdentifier']"
										},
										"sink": {
											"name": "ProjectIdentifier",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ProjectLastPublishedDate']"
										},
										"sink": {
											"name": "ProjectLastPublishedDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "[['ProjectModifiedDate']"
										},
										"sink": {
											"name": "ProjectModifiedDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "[['ProjectName']"
										},
										"sink": {
											"name": "ProjectName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ProjectPercentCompleted']"
										},
										"sink": {
											"name": "ProjectPercentCompleted",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['ProjectPercentWorkCompleted']"
										},
										"sink": {
											"name": "ProjectPercentWorkCompleted",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['ProjectStartDate']"
										},
										"sink": {
											"name": "ProjectStartDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "[['ProjectStatusDate']"
										},
										"sink": {
											"name": "ProjectStatusDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "[['ProjectWork']"
										},
										"sink": {
											"name": "ProjectWork",
											"type": "Decimal"
										}
									}
								],
								"collectionReference": "$['value']",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "RestResource1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ProjectsTable",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "AKVPJOOdataClientId",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://kvbrismithadf.vault.azure.net/secrets/pjoodataclientid/80ae9f2937ee49668540c5b29c86ed9c?api-version=7.0",
							"connectVia": {
								"referenceName": "irbrismithadf",
								"type": "IntegrationRuntimeReference"
							},
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "AKVPJOOdataSecret",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://kvbrismithadf.vault.azure.net/secrets/pjoodatasecret/5db19b90620e4f489c6e5d494f714b19?api-version=7.0",
							"connectVia": {
								"referenceName": "irbrismithadf",
								"type": "IntegrationRuntimeReference"
							},
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "AKVPJOOdataScope",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://kvbrismithadf.vault.azure.net/secrets/pjoodatascope/2964fbc8cf364bd8a7d3b0e320f421d8?api-version=7.0",
							"connectVia": {
								"referenceName": "irbrismithadf",
								"type": "IntegrationRuntimeReference"
							},
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Clear Project Staging",
						"description": "Delete all rows from the Project staging table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set access token",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_adf_deleteProjectStagingRows]"
						},
						"linkedServiceName": {
							"referenceName": "SqlServer1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Remove Deleted Projects",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Read OData and Populate Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_adf_removeDeletedProjects]"
						},
						"linkedServiceName": {
							"referenceName": "SqlServer1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Remove Updated Projects",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Remove Deleted Projects",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_adf_removeUpdatedProjects]"
						},
						"linkedServiceName": {
							"referenceName": "SqlServer1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Add new and updated projects",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Remove Updated Projects",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_adf_addNewProjectRows]"
						},
						"linkedServiceName": {
							"referenceName": "SqlServer1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"token": {
						"type": "String"
					},
					"response": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-17T23:50:15Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/irbrismithadf')]",
				"[concat(variables('factoryId'), '/datasets/RestResource1')]",
				"[concat(variables('factoryId'), '/datasets/Json1')]",
				"[concat(variables('factoryId'), '/datasets/ProjectsTable')]",
				"[concat(variables('factoryId'), '/linkedServices/SqlServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Weekly Trigger Monday 5 am')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pipeline1",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2021-11-29T05:00:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								5
							],
							"weekDays": [
								"Monday"
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipeline1')]"
			]
		}
	]
}