pipeline/ODataToSQLPipeline.json
{
	"name": "ODataToSQLPipeline",
	"properties": {
		"activities": [
			{
				"name": "AKVUserName",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://kvpfwadf.vault.azure.net/secrets/pjoOdataUserName/1296b021b9124266a2b6e40b084fa12b?api-version=7.0",
					"method": "GET",
					"linkedServices": [
						{
							"referenceName": "AzureKeyVaultPfw",
							"type": "LinkedServiceReference"
						}
					],
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "AKVUserPassword",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://kvpfwadf.vault.azure.net/secrets/pjoOdataUserPwd/5248ac39a6474204bf4890d2c89301d7?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "AKVPjoClientId",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://kvpfwadf.vault.azure.net/secrets/pjoOdataClientid/5a21098f4860435d9b046b1cf455b5d5?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "AKVPjoODataSecret",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://kvpfwadf.vault.azure.net/secrets/pjoOdataSecret/b00ef6613c8e460aad5ec4dd55445fff?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "AKVPjoScope",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://kvpfwadf.vault.azure.net/secrets/pjoOdataScope/955feb3fff8445e9908141f3deae4460?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set access token",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "M365Login",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "token",
					"value": {
						"value": "@activity('M365Login').output.access_token",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Clear staging table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set access token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_adf_deletePjoProjectStagingRows]"
				},
				"linkedServiceName": {
					"referenceName": "AuroraDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Remove Deleted Projects",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Read OData and write to Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_adf_removeDeletedPjoProjects]"
				},
				"linkedServiceName": {
					"referenceName": "AuroraDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Remove Updated Projects",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Remove Deleted Projects",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_adf_removeUpdatedPjoProjects]"
				},
				"linkedServiceName": {
					"referenceName": "AuroraDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Add new and updated Projects",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Remove Updated Projects",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_adf_addNewPjoProjectRows]"
				},
				"linkedServiceName": {
					"referenceName": "AuroraDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "M365Login",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "AKVPjoClientId",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "AKVUserName",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "AKVUserPassword",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "AKVPjoODataSecret",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "AKVPjoScope",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://login.microsoftonline.com/7c76b1d9-8e15-40c9-be1b-65328c3f5a26/oauth2/v2.0/token",
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded",
						"Accept": "*/*",
						"Connection": "keep-alive"
					},
					"body": {
						"value": "@concat('grant_type=password&client_id=',activity('AKVPjoClientId').output.value,'&client_secret=',activity('AKVPjoODataSecret').output.value,'&scope=',activity('AKVPjoScope').output.value,'&username=',activity('AKVUserName').output.value,'&password=',activity('AKVUserPassword').output.value)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Read OData and write to Staging",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Clear staging table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@concat('Bearer ',variables('token'))",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": true
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['odata.metadata']"
								}
							},
							{
								"source": {
									"path": "['ProjectId']"
								},
								"sink": {
									"name": "ProjectId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ProjectActualCost']"
								},
								"sink": {
									"name": "ProjectActualCost",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"path": "['ProjectActualDuration']"
								},
								"sink": {
									"name": "ProjectActualDuration",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"path": "['ProjectActualFinishDate']"
								},
								"sink": {
									"name": "ProjectActualFinishDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['ProjectActualStartDate']"
								},
								"sink": {
									"name": "ProjectActualStartDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['ProjectActualWork']"
								},
								"sink": {
									"name": "ProjectActualWork",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"path": "['ProjectCost']"
								},
								"sink": {
									"name": "ProjectCost",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"path": "['ProjectCreatedDate']"
								},
								"sink": {
									"name": "ProjectCreatedDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['ProjectCurrency']"
								},
								"sink": {
									"name": "ProjectCurrency",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ProjectDescription']"
								},
								"sink": {
									"name": "ProjectDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ProjectDuration']"
								},
								"sink": {
									"name": "ProjectDuration",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"path": "['ProjectFinishDate']"
								},
								"sink": {
									"name": "ProjectFinishDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['ProjectIdentifier']"
								},
								"sink": {
									"name": "ProjectIdentifier",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ProjectLastPublishedDate']"
								},
								"sink": {
									"name": "ProjectLastPublishedDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['ProjectModifiedDate']"
								},
								"sink": {
									"name": "ProjectModifiedDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['ProjectName']"
								},
								"sink": {
									"name": "ProjectName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ProjectPercentCompleted']"
								},
								"sink": {
									"name": "ProjectPercentCompleted",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "['ProjectPercentWorkCompleted']"
								},
								"sink": {
									"name": "ProjectPercentWorkCompleted",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "['ProjectStartDate']"
								},
								"sink": {
									"name": "ProjectStartDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['ProjectStatusDate']"
								},
								"sink": {
									"name": "ProjectStatusDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['ProjectWork']"
								},
								"sink": {
									"name": "ProjectWork",
									"type": "Decimal"
								}
							}
						],
						"collectionReference": "$['value']",
						"mapComplexValuesToString": false
					}
				},
				"inputs": [
					{
						"referenceName": "PjoODataSet",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "pjoProjectsStage",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"token": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-01-24T23:43:36Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}