pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "AKVUsername",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://kvbrismithadf.vault.azure.net/secrets/testusername/91ec9c76e3e24733a8ea3a76cd5dd813?api-version=7.0",
					"connectVia": {
						"referenceName": "irbrismithadf",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "AKVUserPwd",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://kvbrismithadf.vault.azure.net/secrets/testuserpwd/b61a983c472247469588ceaa02f22ea3?api-version=7.0",
					"connectVia": {
						"referenceName": "irbrismithadf",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "M365Login",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "AKVUsername",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "AKVUserPwd",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "AKVPJOOdataClientId",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "AKVPJOOdataSecret",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "AKVPJOOdataScope",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://login.microsoftonline.com/01ba1a71-c58f-48a6-bc02-5e697e4298e5/oauth2/v2.0/token",
					"connectVia": {
						"referenceName": "irbrismithadf",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded",
						"Accept": "*/*",
						"Connection": "keep-alive"
					},
					"body": {
						"value": "@concat('grant_type=password&client_id=',activity('AKVPJOOdataClientId').output.value,'&client_secret=',activity('AKVPJOOdataSecret').output.value,'&scope=',activity('AKVPJOOdataScope').output.value,'&username=',activity('AKVUsername').output.value,'&password=',activity('AKVUserPwd').output.value)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set access token",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "M365Login",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "token",
					"value": {
						"value": "@activity('M365Login').output.access_token",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set access token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@concat('Bearer ', variables('token'))",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "RestResource1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Json1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy data1_copy1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set access token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@concat('Bearer ', variables('token'))",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "SqlServerSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['ProjectId']"
								},
								"sink": {
									"name": "PROJ_UID"
								}
							},
							{
								"source": {
									"path": "['ProjectAuthorName']"
								},
								"sink": {
									"name": "PROJ_PROP_AUTHOR"
								}
							},
							{
								"source": {
									"path": "['ProjectCreatedDate']"
								},
								"sink": {
									"name": "PROJ_CREATION_DATE"
								}
							},
							{
								"source": {
									"path": "['ProjectCurrency']"
								},
								"sink": {
									"name": "PROJ_OPT_CURRENCY_CODE"
								}
							},
							{
								"source": {
									"path": "['ProjectDescription']"
								},
								"sink": {
									"name": "WPROJ_DESCRIPTION"
								}
							},
							{
								"source": {
									"path": "['ProjectFinishDate']"
								},
								"sink": {
									"name": "PROJ_INFO_FINISH_DATE"
								}
							},
							{
								"source": {
									"path": "['ProjectIdentifier']"
								},
								"sink": {
									"name": "PROJ_IDENTIFIER"
								}
							},
							{
								"source": {
									"path": "['ProjectLastPublishedDate']"
								},
								"sink": {
									"name": "WPROJ_LAST_PUB"
								}
							},
							{
								"source": {
									"path": "['ProjectModifiedDate']"
								},
								"sink": {
									"name": "MOD_DATE"
								}
							},
							{
								"source": {
									"path": "['ProjectName']"
								},
								"sink": {
									"name": "PROJ_NAME"
								}
							},
							{
								"source": {
									"path": "['ProjectStartDate']"
								},
								"sink": {
									"name": "PROJ_INFO_START_DATE"
								}
							},
							{
								"source": {
									"path": "['ProjectTitle']"
								},
								"sink": {
									"name": "PROJ_PROP_TITLE"
								}
							}
						],
						"collectionReference": "$['value']",
						"mapComplexValuesToString": false
					}
				},
				"inputs": [
					{
						"referenceName": "RestResource1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ProjectsTable",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "AKVPJOOdataClientId",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://kvbrismithadf.vault.azure.net/secrets/pjoodataclientid/80ae9f2937ee49668540c5b29c86ed9c?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "AKVPJOOdataSecret",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://kvbrismithadf.vault.azure.net/secrets/pjoodatasecret/5db19b90620e4f489c6e5d494f714b19?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "AKVPJOOdataScope",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://kvbrismithadf.vault.azure.net/secrets/pjoodatascope/2964fbc8cf364bd8a7d3b0e320f421d8?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"variables": {
			"token": {
				"type": "String"
			},
			"response": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-11-17T23:50:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}